<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Magic Coffee Cup</name>
    <description>
        Another kind of Magic 8-Ball.
    </description>
    <author email="s.sefel@uleth.ca">
        Sara Sefel
    </author>
    <content src="index.html" />
    <platform name="android">
        <icon src="www/res/icon/icon.png" />
    </platform>
    <access origin="*" />
</widget>
